#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.square {
  width: 90px;
  height: 90px;
  margin: 5px;
  font-size: 24px;
  background-color: #f6efef;
  border: 1px solid #ddd;
  display: grid; /* Ensure grid layout for consistent alignment */
  place-items: center;
  justify-content: center;
  align-items: center;
}
.board-row{
  display: flex;
}
.cross {
  color: #ec8585;
  font-size: 36px;
  font-weight: bold;
  animation: pop-in 0.3s ease-out forwards;
}

.circle {
  color: #6fa9ef;
  font-size: 36px;
  font-weight: bold;
  animation: spin-in 0.5s ease-out forwards;
}

@keyframes pop-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spin-in {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

